html{
    cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur117.cur), auto;
    overflow: hidden;
}
body{
    background-image: url(../src/pic/bg1.gif);
    background-repeat: none;
    background-size: cover;
}
@font-face {
    font-family: 'Space age';
    src: url('../src/fonts/spaceage.ttf'),
}

#myCanvas{
    border: 2px solid #1FD01F;
    box-shadow: 0px 0px 20px #1FEA1F;
    background-color: #1F1F1F;
    position: absolute;
    top: 3%;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
}
#myBomb{
    height: 0;
}
h2{
    color: white;
    margin-left: 10px;
    font-family: 'Space age', 'Monoton', Tahoma, Sans-Serif;
    font-size: 30px;
}
#www{
    position: relative;
    margin-top: 650px;
    display:block;
    text-align: center;
    font-size: 50px;
}
#pressStart{
    color: white;
}
#startGame{
    margin: auto;
    display: block;
    position: absolute;
    top: 70%;
    left: 31.5%;
    z-index: 100;
    font-size: 3em
}
#keyW{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;
}
#endGame{
    position: relative;
    bottom: 150px;
    width: 1080px;
    height: 700px;
    display: none;
    background-image: url(../src/pic/snake_grey.gif);
    background-repeat: no-repeat;
    background-size: contain;
    border-color: rgb(253, 253, 253);
    border-style: solid;
    border-width: 7px;
    transition: 1s;
    animation-name: ani;
    animation-duration: 1.5s;
}
#grave{
    position: relative;
    top: 100px;
    bottom: 50px;
    left: 400px;
    height: 500px;
    width: 700px;
}
#youDied{
    position: relative;
    bottom: 500px;
    font-size: 150px;
    margin: 0px;
    color: aliceblue;
    font-family: 'Monoton', cursive;
    text-shadow: 10px 10px rgba(255, 15, 175, 0.767);
}
#nscore{
    font-size: 30px;
    position: relative;
    bottom: 250px;
    left: 350px;
    text-shadow: 5px 5px rgba(80, 5, 255, 0.541);
}
button{
    position: relative;
    bottom: 270px;
    height: 50px;
    width: 500px;
    margin: 20px 2px 1px;
    border-radius: 3%;
    border-bottom: 6px solid rgb(17, 3, 97);
    background-color: rgba(70, 72, 102, 0.8);
    font-family: 'Prompt', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-shadow: 0px 5px rgba(80, 5, 255, 0.541);
  }
button:hover{
    background-color: rgb(89, 46, 206);
    border-bottom: 6px solid aqua;
}
@keyframes ani {
    from {bottom:1000px;}
    to {bottom:150px;}
}