html{
    cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur117.cur), auto;
    overflow: hidden;
}
body{
    background-image: url(../src/pic/bg1.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
@font-face {
    font-family: spaceage;
    src: local(spaceage), url("../src/fonts/spaceage.otf");
    /*src: url(../src/fonts/spaceage.ttf);*/
  }
#myCanvas{
    border: 2px solid #1FD01F;
    box-shadow: 0 0 5px rgb(28, 218, 28), 0 0 10px rgb(26, 216, 26),0px 0px 20px #1FEA1F,0px 0px 30px #1FEA1F;
    background-color: #1F1F1F;
    position: absolute;
    top: 3%;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
}
#myBomb{
    height: 0;
}
h2{
    color: white;
    margin-left: 10px;
    font-family: 'Audiowide', cursive;
    font-size: 40px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF;
}
#www{
    right: 34%;
    top: 83%;
    position: fixed;
    display: block;
    text-align: center;
    font-size: 50px;
    text-shadow:  0 0 10px #fff, 0 0 20px #fff, 0 0 30px #FF1177, 0 0 30px #FF1177, 0 0 50px #FF1177, 0 0 60px #FF1177;
}
#pressStart{
    color: white;
}
#startGame{
    margin: auto;
    display: block;
    position: absolute;
    top: 70%;
    left: 31.5%;
    z-index: 100;
    font-size: 3em
}
#keyW{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;
}
#endGame{
    position: relative;
    bottom: 150px;
    width: 1080px;
    height: 695px;
    display: none;
    background-image: url(../src/pic/snake_grey.gif);
    background-repeat: no-repeat;
    background-size: contain;
    border-color: rgb(253, 253, 253);
    border-style: solid;
    border-width: 10px;
    transition: 1s;
    animation-name: ani;
    animation-duration: 1.5s;
}
#grave{
    position: relative;
    top: 100px;
    bottom: 50px;
    left: 400px;
    height: 500px;
    width: 700px;
}
#youDied{
    position: relative;
    bottom: 500px;
    font-size: 130px;
    margin: 0px;
    color: aliceblue;
    font-family: 'Monoton', cursive;
    text-shadow:  0 0 10px rgb(52, 255, 1), 0 0 20px rgb(0, 148, 12), 0 0 30px rgb(255, 194, 221), 0 0 30px rgb(170, 255, 113), 0 0 50px rgb(70, 255, 147), 0 0 60px rgb(0, 255, 55);
}
#nscore{
    font-size: 30px;
    position: relative;
    bottom: 230px;
    left: 350px;
    text-shadow:  0 0 10px rgb(200, 255, 1), 0 0 20px rgba(255, 251, 3, 0.658), 0 0 30px rgb(255, 217, 2), 0 0 30px rgba(255, 251, 0, 0.829)
}
button{
    text-decoration: none;
    display: inline-block;
    position: relative;
    bottom: 270px;
    height: 70px;
    width: 300px;
    margin: 20px 2px 1px;
    font-size: 30px;
    text-align: center;
    border: 7px solid rgba(255, 115, 0, 0.897);
    color: rgb(255, 145, 0);
    border-radius: 50px;
    text-shadow: 0 0 10px rgb(rgb(255, 166, 0)), 0 0 20px rgb(rgb(255, 115, 0)), 0 0 30px rgb(rgb(255, 230, 0)), 0 0 40px rgb(rgb(255, 230, 0));
    box-shadow: 0 0 10px rgb(255, 153, 1), 0 0 20px rgba(255, 188, 111, 0.877), 0 0 30px rgba(255, 188, 111, 0.877);
    font-family: 'Orbitron', sans-serif;
}

button:hover{
    border: 7px solid rgba(255, 115, 0, 0.719);
    box-shadow: 0 0 10px rgb(248, 62, 62), 0 0 20px rgba(255, 11, 3, 0.452), 0 0 30px rgba(255, 11, 3, 0.973), 0 0 40px rgba(255, 3, 179, 0.973);
    font-family: 'Orbitron', sans-serif;
    color: rgb(255, 72, 72);
    cursor: url(http://ani.cursors-4u.net/cursors/cur-12/cur1136.ani), url(http://ani.cursors-4u.net/cursors/images12/cur1136.png), auto;
    touch-action: none;
}
@keyframes ani {
    from {bottom:1000px;}
    to {bottom:150px;}
}