body{
    background-color: #000000;
}
#myCanvas{
border: 2px solid #1FD01F;
box-shadow: 0px 0px 20px #1FEA1F;
background-color: #1F1F1F;
position: absolute;
top: 10%;
left: 30%;
margin-top: auto;
margin-left: auto;
}
h2{
    color: white;
    font-family: 'Coiny', cursive;
}
#status{
    color: white;
    font-family: 'Coiny', cursive;
}